@import url('https://fonts.googleapis.com/css?family=Poppins:300|Roboto:300|Pacifico:300');

conteiner-component {
    font-family: Poppins;
    display:grid;
    padding:20px;
    grid-gap:20px;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom:1px solid #f1f1f1;
    font-size: 14px;
    color: #111111
}
title-component {
    text-transform:uppercase;
    color:#86919A;
    font-size:13px;
    display: block;
}

content-component {
    margin-top:5px;
    margin-bottom:5px;
}

content-icons {
    margin-bottom:5px;
}
co-context-resume content-icons img {
    height: 20px;
    width:20px;
    margin-top:0px;
}
co-context-resume img {
    height:40px;
    border-radius:100px;
    width:40px;
    margin: auto;
    margin-top:10px
}